<div>
<h3>  Project Stages Space</h3>
<span class="projectStages" [routerLink]="['New']">
    <button type="button" class="btn btn-success btn-sm"> generate Project Stages</button>
  </span>
</div>
<div class="phases"  >
<div >
<h3>First Phase</h3>
<table class="table table-bordered">
    <thead class="table-success">
      <tr>
        <th scope="col">casing grade</th>
        <th scope="col">casing weight</th>
        <th scope="col">casing state</th>
        <th scope="col">cementing state</th>
        <th scope="col">section hole size</th>
        <th scope="col">section final depth</th>
        <th scope="col">section depth (inprogress)</th>
        <th scope="col">initialization date </th>
        <th scope="col">completion date </th>
      
      
      </tr>
    </thead>
    <tbody>
      <tr   >
       
        <td>{{StageOne?.casing.grade}}</td>
        <td>{{StageOne?.casing.weight}}</td>
        <td>{{StageOne?.casing.state}}</td>
        <td>{{StageOne?.cementing.state}}</td>
        <td>{{StageOne?.section.ConductorHoleSize}}</td>
        <td>{{StageOne?.section.finalDepth}}</td>
        <td>{{StageOne?.section.depthInProgress}}</td>
        <td>{{StageOne?.initialDate | date : "dd.MM.y"}}</td>
        <td>{{StageOne?.finalDate | date : "dd.MM.y"}}</td>
      </tr>
      
    </tbody>
  </table>
</div>
<div>
    <h3>Second Phase</h3>
    <table class="table table-bordered">
        <thead class="table-success">
          <tr>
            <th scope="col">casing grade</th>
            <th scope="col">casing weight</th>
            <th scope="col">casing state</th>
            <th scope="col">cementing state</th>
            <th scope="col">section hole size</th>
            <th scope="col">section final depth</th>
            <th scope="col">section depth (inprogress)</th>
            <th scope="col">initialization date </th>
            <th scope="col">completion date </th>
          
                
          
          </tr>
        </thead>
        <tbody>
          <tr  >
           
            <td>{{StageTwo?.casing.grade}}</td>
            <td>{{StageTwo?.casing.weight}}</td>
            <td>{{StageTwo?.casing.state}}</td>
            <td>{{StageTwo?.cementing.state}}</td>
            <td>{{StageTwo?.section.ConductorHoleSize}}</td>
            <td>{{StageTwo?.section.finalDepth}}</td>
            <td>{{StageTwo?.section.depthInProgress}}</td>
            <td>{{StageTwo?.initialDate | date : "dd.MM.y"}}</td>
            <td>{{StageTwo?.finalDate | date : "dd.MM.y"}}</td>
               
          </tr>
          
        </tbody>
      </table>
    </div><div>
        <h3>Third Stage</h3>
        <table class="table table-bordered">
            <thead class="table-success">
              <tr>
                <th scope="col">casing grade</th>
                <th scope="col">casing weight</th>
                <th scope="col">casing state</th>
                <th scope="col">cementing state</th>
                <th scope="col">section hole size</th>
                <th scope="col">section final depth</th>
                <th scope="col">section depth (inprogress)</th>
                <th scope="col">initialization date </th>
                <th scope="col">completion date </th>
              
                        
              
              </tr>
            </thead>
            <tbody>
              <tr   >
               
                <td>{{StageThree?.casing.grade}}</td>
                <td>{{StageThree?.casing.weight}}</td>
                <td>{{StageThree?.casing.state}}</td>
                <td>{{StageThree?.cementing.state}}</td>
                <td>{{StageThree?.section.ConductorHoleSize}}</td>
                <td>{{StageThree?.section.finalDepth}}</td>
                <td>{{StageThree?.section.depthInProgress}}</td>
                <td>{{StageThree?.initialDate | date : "dd.MM.y"}}</td>
                <td>{{StageThree?.finalDate | date : "dd.MM.y"}}</td>
                       
              </tr>
              
            </tbody>
          </table>
        </div><div>
            <h3>Last Phase</h3>
            <table class="table table-bordered">
                <thead class="table-success">
                  <tr>
                    <th scope="col">casing grade</th>
                    <th scope="col">casing weight</th>
                    <th scope="col">casing state</th>
                    <th scope="col">cementing state</th>
                    <th scope="col">section hole size</th>
                    <th scope="col">section final depth</th>
                    <th scope="col">section depth (inprogress)</th>
                    <th scope="col">initialization date </th>
                    <th scope="col">completion date </th>
                  
                                
                  
                  </tr>
                </thead>
                <tbody>
                  <tr  >
                   
                    <td>{{StageFour?.casing.grade}}</td>
                    <td>{{StageFour?.casing.weight}}</td>
                    <td>{{StageFour?.casing.state}}</td>
                    <td>{{StageFour?.cementing.state}}</td>
                    <td>{{StageFour?.section.ConductorHoleSize}}</td>
                    <td>{{StageFour?.section.finalDepth}}</td>
                    <td>{{StageFour?.section.depthInProgress}}</td>
                    <td>{{StageFour?.initialDate | date : "dd.MM.y"}}</td>
                    <td>{{StageFour?.finalDate | date : "dd.MM.y"}}</td>
                               
                  </tr>
                  
                </tbody>
              </table>
            </div>
            <span>
                <span class="projectStages" [routerLink]="['edit']">
                    <button type="button" class="btn btn-success btn-sm"> Edit</button>
                  </span>
                  
            </span>
            <div>
              <h3>Project Progress</h3>
              <span *ngFor="let project of project">
                <p>the progress is {{project.ProjectProgress}} %</p>
              </span>
              
            </div>
            <div><h3> Operating Monitor</h3>
    
              <div *ngFor="let project of project"> 
                
              <div *ngIf="project.operated== true ">
                <p *ngFor="let operator of Operator">   
                  it  is  operated by {{operator.name}} <br>
                  <app-button (btnclick)="Dismiss(operator)" text="Dismiss" ></app-button> 
            
                </p> 
                     </div>
              </div>
            <table class="table table-bordered">
              <thead class="table-success">
                <tr>
                  <th scope="col">DrillOperator Name</th>
                  <th scope="col">Email</th>
                 </tr>
              </thead>
              <tbody>
                <tr *ngFor="let operator of DrillOperators  "  >
                  <td>{{operator.name}}</td>         
                  <td>{{operator.email}}</td>
              <td>    <app-button (btnclick)="Assign(operator)" text="Assign"></app-button>
              </td>  </tr>
                
              </tbody>
            </table>
        



</div>