<div class="wrapper">
  <div>
    <h2>Second Phase</h2>
    <form [formGroup]="EditSecondStageForm" (ngSubmit)="onSubmit()">
      <div class="input-box" formGroupName="casing">
        <input
          type="number"
          placeholder="Enter The Weight"
          formControlName="weight"
          min="0"
        />
      </div>
      <div class="input-box" formGroupName="casing">
        <input
          placeholder="Enter The Grade"
          type="text"
          formControlName="grade"
        />
      </div>
     
      <div class="input-box" formGroupName="section">
        <input
          placeholder="Surface Hole Size"
          type="number"
          formControlName="surfaceHoleSize"
          min="0"
        />
      </div>
      <div class="input-box" formGroupName="section">
        <input
          placeholder="Final Depth"
          type="number"
          formControlName="finalDepth"
          min="0"
        />
      </div>
      <div class="input-box button">
        <input type="Submit" value="Update" />
      </div>
    </form>
  </div>
</div>
