<div class="container">
  <table>
    <tr>
      <th>phases</th>
      <th>casing grade</th>
      <th>casing weight</th>
      <th>casing state</th>
      <th>cementing state</th>
      <th>section hole size</th>
      <th>section final depth</th>
      <th>section depth (inprogress)</th>
      <th>depth progress</th>
      <th>Stage progress</th>
    </tr>
    <tr>
      <th>first</th>
      <td>{{ StageOne?.casing.grade }}</td>
      <td>{{ StageOne?.casing.weight }}lb</td>
      <td>{{ StageOne?.casing.state }}</td>
      <td>{{ StageOne?.cementing.state }}</td>
      <td>{{ StageOne?.section.ConductorHoleSize }}m</td>
      <td>{{ StageOne?.section.finalDepth }}m</td>
      <td>{{ StageOne?.section.depthInProgress }}m</td>
      <td>{{ (StageOne?.section.depth * 100 ).toFixed(2)}}%</td>
      <td>{{ (StageOne?.StageProgress * 100).toFixed(2)  }}%</td>
    </tr>
    <tr>
      <th>second</th>
      <td>{{ StageTwo?.casing.grade }}</td>
      <td>{{ StageTwo?.casing.weight }}lb</td>
      <td>{{ StageTwo?.casing.state }}</td>
      <td>{{ StageTwo?.cementing.state }}</td>
      <td>{{ StageTwo?.section.surfaceHoleSize }}m</td>
      <td>{{ StageTwo?.section.finalDepth }}m</td>
      <td>{{ StageTwo?.section.depthInProgress }}m</td>
      <td>{{ (StageTwo?.section.depth * 100).toFixed(2) }}%</td>
      <td>{{ (StageTwo?.StageProgress * 100).toFixed(2) }}%</td>
    </tr>
    <tr>
      <th>third</th>
      <td>{{ StageThree?.casing.grade }}</td>
      <td>{{ StageThree?.casing.weight }}lb </td>
      <td>{{ StageThree?.casing.state }}</td>
      <td>{{ StageThree?.cementing.state }}</td>
      <td>{{ StageThree?.section.intermediateHoleSize }}m</td>
      <td>{{ StageThree?.section.finalDepth }}m</td>
      <td>{{ StageThree?.section.depthInProgress }}m</td>
      <td>{{ (StageThree?.section.depth * 100).toFixed(2) }}%</td>
      <td>{{ (StageThree?.StageProgress * 100).toFixed(2) }}%</td>
    </tr>
    <tr>
      <th>last</th>
      <td>{{ StageFour?.casing.grade }}</td>
      <td>{{ StageFour?.casing.weight }}lb</td>
      <td>{{ StageFour?.casing.state }}</td>
      <td>{{ StageFour?.cementing.state }}</td>
      <td>{{ StageFour?.section.productionHoleSize }}m</td>
      <td>{{ StageFour?.section.finalDepth }}m</td>
      <td>{{ StageFour?.section.depthInProgress }}m</td>
      <td>{{ (StageFour?.section.depth * 100).toFixed(2) }}%</td>
      <td>{{ (StageFour?.StageProgress * 100).toFixed(2) }}%</td>
    </tr>
  </table>
  <div class="no-projects">
    <a class="generate" [routerLink]="['operate']">Operate</a>
  </div>
</div>
