<div class="container">
    <!-- Employee list -->
    <table class="table table-bordered">
      <thead class="table-success">
        <tr>
          <th scope="col">Drill Superviser Name </th>
          <th scope="col">Drill Superviser Email </th>
        
          
        
        </tr>
        
         
        
      </thead>
      <tbody>
         <tr *ngFor="let sp of Supervisor  ; "  >
         
          <td>{{sp.name}}</td>
          <td>{{sp.email}}</td>
         </tr>
     
      </tbody>
      
      </table>
    <div  *ngFor="let pr of Project  ; ">
     

      <span class="projectStages" [routerLink]="[ 'project',pr._id ,'ProjectOperating']">
        <button type="button" class="btn btn-success btn-sm"> Phases Monitoring</button>
      </span>
      
    </div>
  </div>