<div class="wrapper" *ngFor="let pr of project">
  <div *ngIf="pr.thirdStageGn == false; else hide">
    <h2>third Phase</h2>
    <form [formGroup]="ThirdStageForm" (ngSubmit)="onSubmit()">
      <div class="input-box" formGroupName="casing">
        <input
          type="number"
          placeholder="Enter The Weight (lb)"
          formControlName="weight"
          min="0"
        />
      </div>
      <div class="input-box" formGroupName="casing">
        <input
          placeholder="Enter The Grade"
          type="text"
          formControlName="grade"
        />
      </div>
      <div class="input-box" formGroupName="casing">
        <select formControlName="state" [(ngModel)]="opSelect">
          <option value="pending">casing state is pending</option>
        </select>
      </div>
      <div class="input-box" formGroupName="cementing">
        <select formControlName="state" [(ngModel)]="opSelect">
          <option value="pending">cementing state is pending</option>
        </select>
      </div>
      <div class="input-box" formGroupName="section">
        <input
          placeholder="Intermediate Hole Size"
          type="number"
          formControlName="intermediateHoleSize"
          min="0"
        />
      </div>
      <div class="input-box" formGroupName="section">
        <input
          placeholder="Final Depth"
          type="number"
          formControlName="finalDepth"
          min="0"
        />
      </div>
      <div class="input-box button">
        <input type="Submit" value="Generate" />
      </div>
    </form>
  </div>
  <ng-template #hide>
    <div class="after-generated">third stage is generated</div>
  </ng-template>
</div>
