.map-container {
    position:absolute;
   
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid rgb(186, 175, 175);
    width: 75%;
    height:50%;
  }
  
  #map {
    height: 100%;
  }
  