<div class="container">
  <div class="wrapper">
    <h2>Admin</h2>
    <form [formGroup]="supAdminForm" (ngSubmit)="onSubmit()">
      <div class="input-box">
        <input
          type="text"
          placeholder="Enter Your Email"
          formControlName="email"
        />
      </div>
      <div
        class="invalid-feedback"
        *ngIf="submitted && myForm['email'].errors?.['required']"
      >
        Enter your email.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="submitted && myForm['email'].errors?.['pattern']"
      >
        Enter valid email.
      </div>
      <div class="input-box">
        <input
          type="password"
          formControlName="password"
          placeholder="Enter Your Password"
        />
      </div>
      <div
        class="invalid-feedback"
        *ngIf="submitted && myForm['password'].errors?.['required']"
      >
        password is required.
      </div>
      <div class="input-box button">
        <input type="Submit" value="Login" />
        <p *ngIf="showError">
          You can't make changes or go back at this time.!
        </p>
      </div>
      </form>
  </div>
</div>
