<div class="container">
  <form [formGroup]="ProjectForm" (ngSubmit)="onSubmit()" *ngIf="project?.supervised == false;" >
    <div class="row">
      <div class="col">
        <div class="inputBox">
          <span>number :</span>
          <input
            type="number"
            min="1"
            formControlName="number"
            placeholder="Enter The Project Number"
          />
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['number'].errors?.['required']"
          >
            Number is required
          </div>
        </div>
        <div class="inputBox">
          <span>Determined Time :</span>
          <input
            type="text"
            formControlName="determinedTime"
            placeholder="Enter The Project Duration"
          />
        </div>
        <div class="inputBox" formGroupName="basic_info">
          <span>contractor :</span>
          <input
            type="text"
            formControlName="contractor"
            placeholder="Enter The Contractor"
          />
          <div
            *ngIf="submitted && myForm['basic_info']['controls'].contractor.errors?.['required']"
          >
            Contractor is required.
          </div>
        </div>
        <div class="inputBox" formGroupName="basic_info">
          <span>Cellar Depth(m) :</span>
          <input
            type="number"
            min="1"
            formControlName="cellarDepth"
            placeholder="Enter The Depth"
          />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['basic_info']['controls'].cellarDepth.errors?.['required']"
          >
            Cellar Depth is required.
          </div>
        </div>
        <div class="flex" formGroupName="basic_info">
          <div class="inputBox">
            <span>Target lontitude :</span>
            <input
              type="number"
              formControlName="TargetLontitude"
              placeholder="Enter Target Lontitude"
            />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['basic_info']['controls'].TargetLontitude.errors?.['required']"
            >
              Target Lontitude required.
            </div>
          </div>
          <div class="inputBox">
            <span>Target latitude :</span>
            <input
              type="number"
              formControlName="TargetLatitude"
              placeholder="Enter Target latitude"
            />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['basic_info']['controls'].TargetLatitude.errors?.['required']"
            >
              Target Latitude is required.
            </div>
          </div>
        </div>
      </div>
      <div class="col" formGroupName="basic_info">
        <div class="inputBox">
          <span>Target Formation :</span>
          <input
            type="text"
            formControlName="targetFormation"
            placeholder="Enter Target Formation"
          />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['basic_info']['controls'].targetFormation.errors?.['required']"
          >
            Target Formation is required.
          </div>
        </div>
        <div class="inputBox">
          <span>Target Tolerance Shape :</span>
          <input
            class="form-control"
            type="text"
            formControlName="targetToleranceShape"
            placeholder="Enter Target Tolerance Shape"
          />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['basic_info']['controls'].targetToleranceShape.errors?.['required']"
          >
            Target Tolerance Shape is required.
          </div>
        </div>
        <div class="inputBox">
          <span>Td Formation Depth :</span>
          <input
            type="text"
            formControlName="TdFormationDepth"
            placeholder="Enter Td Formation Depth"
          />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['basic_info']['controls'].TdFormationDepth.errors?.['required']"
          >
            Td Formation Depth is required.
          </div>
        </div>
        <div class="inputBox">
          <span>Well Profile :</span>
          <input
            type="text"
            formControlName="wellProfile"
            placeholder="Enter The Well Profile"
          />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['basic_info']['controls'].wellProfile.errors?.['required']"
          >
            Well profile is required.
          </div>
        </div>
        <div class="flex">
          <div class="inputBox">
            <span>Surface latitude :</span>
            <input
              type="number"
              formControlName="SurfaceLatitude"
              placeholder="Enter Surface latitude"
            />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['basic_info']['controls'].SurfaceLatitude.errors?.['required']"
            >
              Surface Latitude is required.
            </div>
          </div>
          <div class="inputBox">
            <span>Surface lontitude :</span>
            <input
              type="number"
              formControlName="SurfaceLontitude"
              placeholder="Enter Surface Lontitude"
            />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['basic_info']['controls'].SurfaceLontitude.errors?.['required']"
            >
              Surface Lontitude required.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="inputBox" formGroupName="basic_info">
      <span>Target Reservoir :</span>
      <input
        type="text"
        formControlName="targetReservoir"
        placeholder="Enter Target Reservoir"
      />
      <div
        class="invalid-feedback"
        *ngIf="submitted && myForm['basic_info']['controls'].targetReservoir.errors?.['required']"
      >
        Target Reservoir is required.
      </div>
    </div>
    <input type="submit" value="Update" class="submit-btn" />
  </form>
  <div class="table" *ngIf="project?.supervised == false; else show">
    <h3>Supervising Monitor</h3>
    <table *ngIf="DrillSupervisors?.length != 0; else hide">
      <tr>
        <th>DrillEngineer Name</th>
        <th>Email</th>
        <th>Assignment</th>
      </tr>
      <tr *ngFor="let driller of DrillSupervisors">
        <td>{{ driller.name }}</td>
        <td>{{ driller.email }}</td>
        <td>
          <button (click)="Assign(driller)" class="btn edit" value="Assign">
            assign
          </button>
        </td>
      </tr>
    </table>
    <ng-template #hide>
      <h3>there is no DrillEngineers available for now</h3>
    </ng-template>
  </div>
  <ng-template #show>
    <div class="table">
      <h3>Supervising Monitor</h3>
      <p>this project is supervised by {{ OneDriller?.name }}</p>
      <button
        (click)="Dismiss(OneDriller)"
        class="btn remove btn-dismiss"
        value="Dismiss"
      >
        dismiss
      </button>
    </div>
  </ng-template>
</div>
