<div class="wrapper" *ngFor="let pr of project">
  <div *ngIf="pr.firstStageGn == false; else hide">
    <h2>First Phase</h2>
    <form [formGroup]="FirstStageForm" (ngSubmit)="onSubmit()">
      <div class="input-box" formGroupName="casing">
        <input
          type="number"
          placeholder="Enter The Weight (lb)"
          formControlName="weight"
          min="0"
        />
        <div
          class="invalid-feedback"
          *ngIf="submitted && myForm['casing']['controls'].weight.errors?.['required']"
        >
          Weight is required
        </div>
      </div>
      <div class="input-box" formGroupName="casing">
        <input
          placeholder="Enter The Grade"
          type="text"
          formControlName="grade"
        />
        <div
          class="invalid-feedback"
          *ngIf="submitted &&  myForm['casing']['controls'].grade.errors?.['required']"
        >
          grade is required
        </div>
      </div>
      <div class="input-box" formGroupName="casing">
        <select formControlName="state" [(ngModel)]="opSelect2">
          <option value="pending">casing state is pending</option>
        </select>
      </div>
      <div class="input-box" formGroupName="cementing">
        <select formControlName="state" [(ngModel)]="opSelect2">
          <option value="pending">cementing state is pending</option>
        </select>
      </div>
      <div class="input-box" formGroupName="section">
        <input
          placeholder="Conductor Hole Size"
          type="number"
          formControlName="ConductorHoleSize"
          min="0"
        />
        <div
          class="invalid-feedback"
          *ngIf="submitted &&  myForm['section']['controls'].ConductorHoleSize.errors?.['required']"
        >
          ConductorHoleSize is required
        </div>
      </div>
      <div class="input-box" formGroupName="section">
        <input
          placeholder="Final Depth"
          type="number"
          formControlName="finalDepth"
          min="0"
        />
        <div
          class="invalid-feedback"
          *ngIf="submitted && myForm['section']['controls'].finalDepth.errors?.['required']"
        >
          finalDepth is required
        </div>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Generate" />
      </div>
    </form>
  </div>
  <ng-template #hide>
    <div class="after-generated">first stage is generated</div>
  </ng-template>
</div>
